<div class="footer d-flex align-content-space-between sticky-bottom">
  <div class="footer-links">
    <i class="fa-solid fa-otter" style="color: #030303;"></i>
  </div>
  <div class="footer-copyright">
    Made during Le Wagon bootcamp
  </div>
</div>
