<div class="navbar navbar-expand-sm navbar-light">
  <div class="container-fluid d-flex justify-content-end">
      <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "All Lists", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "New List", new_list_path(@list), class: "nav-link" %>
          </li>
      </ul>
  </div>
</div>
