<div class="container">
  <h1>All Lists</h1>

  <div class="lists-container">
    <% @lists.each do |list| %>
      <div>
        <div>
          <div>
            <div class="row">
              <div class="col-lg-6">
                <%
=begin%>
 <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
<%
=end%>
              </div>
              <div class="col-lg-6">
                <h3><%= link_to list.name, list_path(list) %></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "Create a list", new_list_path(@list), class: "btn btn-primary" %>
</div>
