<div class="container">
  <h2>Create New List</h2>
  <p>Enter a name and choose a picture</p>

  <div class="d-flex justify-content-center">
    <div class="col-lg-6">
      <%= render "form", list: @list %>
    </div>
  </div>
</div>
